 
/* .homestyle {
    display: flex;
    flex-direction: column;
    overflow-y: auto;  
    width: 100%;
    height: 1000px;
} */

/* .homestyle main {
    flex: 1;
    overflow-y: auto;
}

body {
    margin: 0;
    padding: 0;
}  */
